.root {
    display: block;
    margin: 10px;
    text-align: left;
    border: 1px solid silver;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.active {
    background-color: #00b2ff;
    color: white;
}